<!-- INITIAL -->
{% extends "base.html" %}
{% set active = "signup" %}
{% block title %} {{ title }} {% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="container">
    <div class="center-div text-center" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; width: 40rem; border-radius: 5px; margin-top: 50px;">
        <img src="{{ url_for('static', filename='images/signup.png') }}" class="card-img-top" height="390px">
    
        <div class="card-body">
            <!-- BRAND -->
            <h5 class="card-title" style="font-size: 24px;">
                <span class="brand-def">Clippr<span class="dot">.</span></span> - Signup
            </h5>
    
            <!-- SUB -->
            <h6 class="card-subtitle mb-2 text-muted bold">
                Let's get you signed-up! <a href="{{ url_for('login') }}">Login?</a>
            </h6>
    
            <br>
    
            <!-- FORM -->
            <p class="card-text">
            <form style="margin-top: 1rem;" method="post" autocomplete="off">
                <!-- SECURE TOKEN -->
                {{ form.hidden_tag() }}
    
                <!-- USERNAME -->
                <div class="group">
                    <i class="fas fa-user icon-form"></i>
                    {% if form.username.errors %}
                    {{ form.username(placeholder="Username", class="fancy-input is-invalid", style="width: 70%;") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <p style="font-weight: bolder;">{{ error }}</p>
                        {% endfor %}
                        <br>
                    </div>
                    {% else %}
                    {{ form.username(placeholder="Username", style="width: 70%;", class="fancy-input") }}
                    {% endif %}
                </div>
    
                <!-- PASSWORD -->
                <div class="group">
                    <i class="fas fa-lock icon-form"></i>
                    {% if form.password.errors %}
                    {{ form.password(placeholder="Password", class="fancy-input is-invalid", style="width: 70%; border: 1px
                    solid crimson;") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <p style="font-weight: bolder;">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(placeholder="Password", style="width: 70%;", class="fancy-input") }}
                    {% endif %}
                </div>
    
                <button class="btn-hover color-1" type="submit" style="margin-top: 15px;">SIGNUP</button>
            </form>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
